// font family
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

// color variables
$primary-color: #d0000b;
$secondary-color: #fff;
$background-color: #f8f9fa;
$border-color: #ccc;

.sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: $background-color;

    &__title {
        font-family: 'Urbanist', sans-serif;
        font-size: 2rem;
        text-align: center;
        color: $primary-color;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__text {
        text-align: center;
        font-family: 'Urbanist', sans-serif;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 920px;
        margin: 0 auto;
    }

    &__container-title {
        font-family: 'Urbanist', sans-serif;
        font-size: 1.5rem;

        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__container-text {
        font-family: 'Urbanist', sans-serif;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &__formular {
        width: 100%;
        max-width: 920px;
        margin: 0 auto;
    }
}

.sponsor-form {
    margin: 2rem auto;
    padding: 2rem;
    background-color: $background-color;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);



    &__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        font-family: 'Urbanist', sans-serif;

        label {
            margin-bottom: 0.5rem;
        }

        input,
        select {
            padding: 0.8rem;
            font-size: 1rem;
            border: 1px solid $border-color;
            border-radius: 6px;
            transition: border 0.2s;

            &:focus {
                border-color: $primary-color;
                outline: none;
                box-shadow: 0 0 0 3px rgba(201, 0, 0, 0.1);
            }
        }
    }

    &__button {
        background-color: $primary-color;
        color: #fff;
        border: none;
        padding: 1rem 1.5rem;
        font-size: 1rem;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken($primary-color, 5%);
        }
    }
}